* {
   background-color: rgb(46, 45, 44); 
   font-family: Times, serif !important;
}

.gray-background {
    background-color: rgb(46, 45, 44);
}

.btn-default {
    background-color: orange !important;
}

.orange-text {
    color: orange;
}

.white-text {
    color: white;
}

.header {
    border-bottom: 2px solid orange;
}

.header-content {
    padding-top: 10px;
}

.subheader {
    margin-top: 6px;
    color: white;
}

.cocktail-div {
    margin-bottom: 10px;
}

.cocktail-img {
    max-width: 50%;
}

.recipe {
    margin-left: 10px;
}